.mr-10{
  margin-right:10px;
}

.profile__section{
  border: 1px solid #eee;
  padding:10px 0;
  border-radius:5px;
  font-size: $font;
}

.account--userInfo{
  display: flex;
  align-items: center;
  div{
    line-height: 16px;
    .userInfo--name{
        display:block;
    }
    .userInfo--email{
      color:darken(grey,50%);
    }
  }
}

.grouplist{
  ul{
    margin-bottom:10px;
    margin-top:5px;
    padding:0;
    li{
      margin-bottom:1px;
      a{
        text-transform: capitalize;
        padding:10px 5px;
        display:block;
        background:$primary-color;
        color:white;
        font-size: 12px;
        &:hover{
          background:darken($primary-color,10%);
        }
      }
    }
  }
}

//shipping section

.shipping__container{
  thead{
    background:darken(grey,20%);
    font-size:0.8rem;
  }
}

//wishlist section

.wishlist__container{
  .wishlist-product-img{
    width:100px;
    img{
      width:100%;
      height:100%;
    }
  }
  .price__container{
    display:table-cell;
    border-left:none;
    border-right:none;

    .price{

    }
    button{
      margin-top:20px;

      border:none;
      background:$primary-color;
      color:white;
      padding:10px 15px;

    }
  }
  .button--cancel{
    border:none;
    background:transparent;
    color:red;
    font-size:1.5rem;
  }
}

.tabcontent{
  max-width: 100%;
}
.active-tab{
  background:darken($primary-color,10%)!important;
}

@media screen and (max-width: 767px) {
  .grouplist{
    ul{
      display:flex;
      justify-content: space-between;
      li{
        display: block;
        width:100%;
        text-align:center;
      }
    }
  }

  .mobile-responsive-wishlist{
    .table-row{
      width:100%;
      text-align:center;
      display:block;
      position:relative;
      border-bottom:1px solid #dcdbdb;
      margin:0 0 25px 0;
    }
    .wishlist-product-img{
      width:40%;
      margin:0 auto;
    }
    .table-cell{
      width:100%;
      display:block;
      border:0;

      padding:0;
    }
    .table-content .table-cell:last-child{
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      text-align: center;
    }
  }
}

//notification settings
.notify--list{
  border:1px solid darken(grey,20%);
  padding:5px;

  .collapse{
    border-top:1px solid darken(grey,20%);
    padding:5px;
    ul{
      display:inline-block;
      li{
        margin-right: 10px;
      }
    }
    .save-action{
      input{
        border-radius: 0;
      }
    }
  }

}
