.faq{
margin-bottom: 20px;
  &-title {
    font-size: 24px;
    color: $primary-color;
    padding-bottom: 10px;
  }

    &-qa {
      margin-bottom: 8px;
      &-ques {
        background-color: $secondary-color;
        color: white;
        width: 100%;
        text-align: center;
        border: none;
        padding: 14px;
      }

      &-ans {
        padding: 14px;
        box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
      }
    }

  }

