.ad{
    height: 305px;
    margin-bottom: 30px;
}
.ad-1st{
    

    object-fit: cover;

    &-img{
        height: 305px;
       width:100%;
       object-fit: cover;
    //    border:2px solid yellow;

    }
    &-div{
        
        height: 305px;
        width:33%;
        padding-left: 0px;
        padding-right:0px ;
        border:2px solid $secondary-color;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        
        & a{ 
            color: black;
            & :hover{
                color: $primary-color;
                font-weight:500;
        }
    }
    }
   
}

.ad-1st-div-women , .ad-1st-div-auto{
    & ul{
    list-style: none;
    padding: 0px;
    }
    & a{
        text-decoration: none;
    }
}

.ad-1st-div-women::after{
    background-color: $gray-lighter;
    content: ' ';
    height: 76%;
    width: 1px;
    display: block;
    position: absolute;
    top: 10%;
    right: 52%;
}



.ad-2nd{
    border:2px solid $gray-lighter;
    padding: 0px;
    cursor: pointer;
    &-title{
        height: 47px;
        color: #ffff;
        background-color: $primary-color;
        text-align: center;
        line-height: 47px;
    }
    &-img{
        height: 245px;
        padding: 5px 15px;
        cursor: pointer;
    }
}



@media only screen and (max-width: 426px){
    .ad-1st{
        margin-bottom: 20px;
        &-img{
        display: none;
    }
    &-div{
        width: 100%;
        padding-bottom:20px;
    }
    }
    
}

@media only screen and (max-width: 769px){
    .ad{
        height: 602px;
    }

}

