.loginpage{
    width:60%;
    margin:0 auto;
    position:relative;
    padding:0 30px;
    border-top:1px solid #bbb;
    border-radius: 10px 10px 0  0;
    background-color:rgba(55, 0, 115, 1);

}
.loginpage-head{
    background-color:rgba(55, 0, 115, 1);

}
.loginpage-heading{
    background-color:rgba(55, 0, 115, 1);

    h1{
        font-size: 24px;
        color:#fff;
        line-height: 56px;
        font-family: $font;
    }
}
.loginpage-heading1{
    background-color:rgba(55, 0, 115, 1);

    p{
        font-size: 14px;
        color:#fff;
        line-height: 56px;
        font-family: $font;

    }
    a{
        color:#fff;
        text-decoration: underline;
        margin-left: 16px;
        margin-right: 0;

    }
    .close{
        top:19px;
        right:0;
        font-size: 30px;
        color:#fff;
        i{
            font-weight: 600;
        }
    }

}
.login-inners{
    border:1px solid #bbb;
    border-radius: 0 0 10px 10px;
    margin:0 auto;
    width:60%;
    padding:10px 30px;
}
.login-inner{
    border-right: 1px solid rgba(0,0,0,0.1);
}
.form-inner{
    .form-lable{
        font-size:14px;
        font-family: $font;
        margin:0 0 6px 0;
        font-weight: 500;
    }

    span{
        font-size: 20px;
        top: 2px;
        color: red;
    }
}
.form-inner input[type="text"] {
    border:1px solid rgba(0,0,0,0.2);
    color: #bdbdbd;
    float: left;
    font-size: 14px;
    height: 30px;
    padding-left:10px;
    width: 100%;
    margin-bottom:20px;
    font-size: 14px;
    font-family: $font;
    font-weight: 500;

    
}
.forget-password{
    font-size: 14px;
    text-decoration: underline;
    font-family: $font;
}
.form-inner .login-btn{
    background-color: $primary-color;
    color: #fff;
    padding: 8px 36px;
    margin-top: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: $font;
    
}
.login-inner::after{
    background: #c2057D;
    border-radius: 50%;
    content: "OR";
    font-weight: 600;
    height: 30px;
    font-size: 13px;
    color: #fff;
    line-height: 30px;
    margin: -15px auto 0;
    position: absolute;
    right: -18px;
    text-align: center;
    top: 50%;
    width: 30px;
}

.login-socialsite{
    width:100%;
    display: flex;
    flex-direction: column;
    height:100%;
    position: relative;

    p{
        font-size: 14px;
        font-family: $font;
        font-weight: 700;
        text-align: center;
        padding-top: 20px;
    }
}
.login-socialicon{
    margin-top: 37px;

    
    .facebook{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: rgb(65, 65, 209);
        color: #fff;
        text-align: center;
        padding-top: 17px;
        font-size: 34px;
        position: absolute;
        left:65px
    }
    .google{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color:rgb(224, 34, 9);
        color: #fff;
        text-align: center;
        padding-top: 17px;
        font-size: 34px;
        position: absolute;
        right: 65px;

    }

}
@media screen and (max-width: 1025px) {
    .login-socialsite {
        height:200px;
       
     .facebook {
         left:17px;
     }
     .google{
         right:9px;
     }
    }
}
@media screen and (max-width: 769px) {
   .loginpage{
       width:90%;
   }
   .login-inners{
       width:90%;
   }
   .login-inner {
       border-bottom:1px solid rgba(0, 0, 0, 0.1);
       border-right:none;
   }
   .login-inner::after{
    background: #c2057D;
    border-radius: 50%;
    content: "OR";
    font-weight: 600;
    height: 30px;
    font-size: 13px;
    color: #fff;
    line-height: 30px;
    margin: -15px auto 0;
    position: absolute;
    text-align: center;
    top: 50%;

   }
   
    .login-socialsite {
        height:200px;
        p{
            font-size: 16px;
        }
     .facebook {
         left:150px;
     }
     .google{
         right:150px;
     }
    }
    .forget-password {
        margin-bottom: 10px;
    }
    .form-inner input[type="text"] {
        height:35px;
    }

}
@media screen and (max-width: 427px) {
    .login-inners{
        width:90%;
    }

    .login-socialsite {
       
     .facebook {
         left:40px;
     }
     .google{
         right:40px;
     }
    }
    .loginpage-heading1 .close{
        top:-52px;
    }
    

}
@media screen and (max-width: 327px) {
    .login-socialsite {

    .google{
        right:0;

    }
    .facebook{
        left:0;
    }
}
.loginpage-heading1 .close{
    top:-102px;
}

}