
.productspage{
   
    border: 2px solid black;

    &-image{ 
        height: 500px;
        border-style: solid;
        position: relative;
        overflow: hidden;
        img{
            object-fit: contain;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
        }
    }

    &-details{
        border-style: solid; 
        height: 500px;
    }

    &-buy{

    }

}

.productspage-reviewdiv{
    display: flex;
    justify-content: space-between;
}