.register-inners{
    border:1px solid #bbb;
    border-radius: 0 0 10px 10px;
    margin:0 auto;
    width:60%;
    padding:10px 30px;
}
.register-heading1{
    background-color:rgba(55, 0, 115, 1);

    p{
        font-size: 14px;
        color:#fff;
        line-height: 56px;
        font-family: $font;
        margin-left: 85px;

    }
    a{
        color:#fff;
        text-decoration: underline;
        margin-left: 16px;
        margin-right: 0;

    }
    .close{
        top:19px;
        right:0;
        font-size: 30px;
        color:#fff;
        i{
            font-weight: 600;
        }
    }

}
.reg-gender-button{
    font-size:14px;
    font-family: $font;
    margin:15px 0 6px 0;
    .checkbox-input{
        left:0;
        right:0;
        margin-left: 15px;
    

    }
    .checkbox-lable{
        margin-left: 5px;
    }
}
.login-btn{
    background-color: #370073;
    color: #fff;
    padding: 8px 36px;
    margin-top: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Roboto";
}

@media screen and (max-width: 1024px) {
    .register-heading1 p{
        margin-left: 0;
    }
    
}
@media screen and (max-width: 1024px) {
    .register-inners{
        width:90%;
    }
    
}
@media screen and (max-width: 427px) {
    .loginpage{
        width:90%;
    }
    .register-inners{
        width:90%;
        padding:15px 0;
    }
    .register-heading1 p{
        margin-left: 0;
    }
    .register-heading1{
        display:none;
    }
    .form-inner .login-btn{
        padding:8px 8px;
    }

}
