<section class="aboutus-container">

    <div class="innerpage container uk-margin-bottom">
        <div class="innerpage-title">About us</div>
        <div class="innerpage-content">
            <p>
                With an intent to create a disruptive sourcing marketplace Infra Bazaar was ideated. Our aim was to bridge the
                gaps in Infrastructure domain. Having understood the challenges in sourcing and delivery we came up with our Innovative
                Digital and Mobile Platform. We have created this platform to educate and create a marketplace/exchange for the infrastructure industry.
                The idea is to actively engage both domestic and international suppliers and purchasers with value propositions. 
            </p>
        </div>
        <hr class="hr-style">
    </div>
</section>