<div class="container  faq">
    <h1 class="faq-title">Frequently Asked Question</h1>
<div class=" accordion" id="accordionExample">

    <div class="faq-qa">

        <button class="faq-qa-ques" type="button" data-toggle="collapse" data-target="#item1" aria-expanded="true"
                aria-controls="collapseOne">
            Is it safe to put my credit card number into this mysterious website?

        </button>


        <div id="item1" class="collapse show faq-qa-ans" data-parent="#accordionExample">
            Probably. We don’t store any of your credit card information (that’s handled by our payment
            processor, Stripe, the best in the business) and we will never share your personal information with anyone else.

        </div>
    </div>

    <div>

        <button class="faq-qa-ques" type="button" data-toggle="collapse" data-target="#item2">
            What's your privacy policy?

        </button>

    </div>
    <div id="item2" class="collapse faq-qa-ans" data-parent="#accordionExample">



        We will never share your information with any third party. Who is a third party? Well the first
        party is us, and the second party is you. So a third party is anyone other than us and you. And,
        you know, they probably have enough already.

    </div>


</div>
</div>