
    <h3>Address settings</h3>
    <form>
        <div class="form-group">
            <label>First Name *</label>
            <input type="text" class="form-input" >
        </div>
        <div class="form-group">
            <label >Last Name *</label>
            <input type="text" class="form-input">
        </div>
        <div class="form-group">
            <label>Country *</label>
            <select class="form-input">
                <option>Nepal</option>
                <option>India</option>
                <option>Pakistan</option>
                <option>USA</option>
            </select>
        </div>
        <div class="form-group">
            <label>City *</label>
            <select class="form-input">
                <option>Kathmandu</option>
                <option>Pokhara</option>
                <option>Hetauda</option>
                <option>Lalitpur</option>
                <option>Bhaktapur</option>
            </select>
        </div>

        <div class="form-group">
            <label>Street Name/No *</label>
            <input type="text" class="form-input">
        </div>
        <div class="form-group">
            <label>Nearest Landmark *</label>
            <input type="text" class="form-input">
        </div>
        <div class="form-group">
            <label>Location Type *</label>
            <select class="form-input">
                <option>Home</option>
                <option>Business</option>
            </select>
        </div>
        <div class="form-group">
            <label>Mobile *</label>
            <div class="input-group">
                <span class="input-group-addon">+977</span>
                <input type="text" class="form-input">
            </div>
        </div>
        <div class="form-group">
            <label>Landline *</label>
            <div class="input-group">
                <span class="input-group-addon">+977</span>
                <input type="text" class="form-input" >
            </div>
        </div>

        <button type="submit">Submit</button>
        <button type="submit">Cancel</button>
    </form>


