<section class="cartpages">

    <div class="container cartpage">
      {% include 'breadcrumb.njk' %}
        <div class="cart-items" >
            <a class="shopping-cart-item"></a>
            <h3>Shopping Cart <span>(1 Item)</span></h3>
        </div>
        <div class="row cart-table-page">
            <div class="col-md-8">
                <form action="" method="post">
                    <table class=" shop_table" cellspacing="0">
                        <thead class="hidden-xs">
                        <tr>
                            <th class="product-remove">&nbsp;</th>
                            <th class="product-thumbnail">Item Details</th>
                            <th class="product-name">Product</th>
                            <th class="product-price" style="color:#ffffff">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal" style="color:#ffffff">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="cart-item">
                                <td class="product-remove">
                                    <a href="" class="remove" title="Remove this item">× <span>Remove</span>

                                </td>
                                <td class="product-thumbnail hidden-xs">
                                    <a href="">
                                            <img src="images/30.jpg" alt=""
                                             class=" "
                                             style="height: auto;width: 100px;">
                                    </a>
                                </td>
                                <td class="product-name" data-title="Product">
                                    <a href="">Baby jumshot</a>
                                </td>
                                <td class="product-price" data-title="Price">
                                    <span class="amount">
                                        <span class="Price-currencySymbol">Rs.</span>
                                        <span class="price">1056</span>
                                    </span>
                                </td>
                                <td class="product-quantity" data-title="Quantity">
                                    <div class="quantity">
                                        <input type="number" value="1" title="Qty" class="input-text qty text" size="4">
                                    </div>
                                </td>
                                <td class="product-subtotal" data-title="Total">
                                    <span class="amount">
                                        <span class="Price-currencySymbol">Rs.</span>
                                        <span class="price">1056</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="coupon">
                        <input type="text" name="coupon_code" class="coupon_code" placeholder="Coupon code">
                        <input type="submit" class="coupon_btn" name="APPLY_COUPON" value="Apply Coupon">
                        <input type="submit" class="update_btn " value="UPDATE" disabled>

                    </div>
                    <div class="clearfix"></div>
                </form>
                </div>
                <div class="col-md-4">
                <div class="cart_totals">
                    <h3>Cart Totals</h3>

                    <table cellspacing="0" class="  shop_table shop-table-responsive">
                        <tbody>
                        <tr class="cart-subtotal">
                            <th>Subtotal</th>
                            <td data-title="Subtotal">
                                <span class="Price-amount amount">
                                    <span class="Price-currencySymbol">Rs.</span>
                                    <span class="price totals_value" id="subtotal">1006</span>
                                </span>
                            </td>
                        </tr>
                        <tr class="order-total">
                            <th>Total</th>
                            <td data-title="Total">
                                <strong>
                                    <span class="Price-amount amount">
                                        <span class="Price-currencySymbol">Rs.</span>
                                        <span class="price totals_value" id="grandtotal">1006</span>
                                    </span>
                                </strong>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                     <div class="proceed-to-checkout">
                        <a href="" class="checkout-button ">PROCESSED TO CHECKOUT</a>
                    </div>

                    <a href="" class="cart-links">BACK TO SHOPPING</a>
                </div>
            </div>
        </div>



        <div class="clearfix"></div>

    </div>
    </div>
  </section>