<section class="contact-page my-3">
    <div class="container">
    {% include "breadcrumb.njk" %}
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="contact-form mt-2">
                <h3><strong>Message Us</strong></h3>
                <form action="" method="post" class="contactus-container">
                    <div class="contactus-inner">
                    <input type="text" placeholder="Enter your name" name="Name"  id="contact-label" class="contact-input" required>  
                    </div>
                        <div class="contactus-inner">
                    <input type="text" placeholder="Enter your email" name="Name"  id="contact-label" class="contact-input" required>  
                    </div>
                        <div class="contactus-inner">
                    <input type="text" placeholder="Message Subject" name="Name"  id="contact-label" class="contact-input" required>  
                    </div>
                        <div class="contactus-inner">
                    <input type="text" placeholder="Phone Number" name="Name"  id="contact-label" class="contact-input" required>  
                    </div>
                    <div class="contactus-inner">
                    <textarea class="contact-message" name="msg" rows="5" placeholder="Message" ></textarea>
                    </div>
                    <div class="contactus-inner">
                     <button type="button" class="contact-btn ">Send Message</button>

                    </div>
                </form>
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
            <div class="contact-form mt-2">
                <h3><strong>Contact Address</strong></h3>
                <div class="map">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3533.430392401309!2d85.34972601506134!3d27.673089682806285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sKoteshwor-35+narephant+Kathmandu%2C+Nepal+44600!5e0!3m2!1sne!2snp!4v1528451030783" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen>         
                    </iframe>
                </div>
                <div class="contact-info">
                  <p class="contact-info-list">Kathmandu Nepal</p>

                    <ul>
                        <li>Location: Kathmandu Nepal</li>
                        <li>Call us: +977 9860345322</li>
                        <li>Email Us: ecommerce1@gmail.com</li>
                    </ul>
            
                </div>
            </div>
            </div>
        </div>

    </div>
</section>
