<div class="container">
    <ul class="nav nav-pills">
        <li class="nav-item ">
            <a href="#ty" class="nav-link active" data-toggle="tab">
                <h3 class="products-title">Description</h3>
            </a>
        </li>
        <li class="nav-item">
            <a href="#tb" class="nav-link" data-toggle="tab">
                <h3 class="products-title">Review</h3>
            </a>
        </li>
    </ul>
</div> 
<div class="tab-content clearfix">

    <div class="tab-pane active container description" id="ty">
        <div class="description-items-points">
            <h4 class="description-items-points-title">Display</h4>
            <ul>
                <li>Screen Size:43"</li>
                <li>Screen Type: LED</li>
                <li>HD Technology &amp; Resolution: Full HD</li>
                <li>3D:No</li>
                <li>Smart TV:Yes</li>
            </ul>

        </div>



        <div class="description-items-points">
            <h4 class="description-items-points-title">Video</h4>
            <ul>
                <li>Display Colours : 1.07G</li>
                <li>Viewing Angle : 176/176</li>
                <li>Contrast Ratio : Dynamic (1200:1)</li>
                <li>Brightness : 400 nits</li>
                <li>Selectable Picture Modes : News/Movie/Music/Standard/User</li>
                <li>Picture Enhancement : Backlight Adjustable, Dynamic Contrast Correction (DCC)</li>
            </ul>
        </div>





        <div class="description-items-points">

            <h4 class="description-items-points-title">Audio</h4>
            <ul>
                <li>Speaker:2</li>
                <li>Selectable Sound Modes : News, Movie, Music, Standard, User</li>
                <li>Sound Enhancement : Auto Volume Leveller</li>
            </ul>
        </div>





        <div class="description-items-points">
            <h4 class="description-items-points-title">Connectivity</h4>
            <ul>
                <li> USB: 2 x USB v2.0</li>
                <li>HDMI:2</li>
                <li>PC Audio In (MINI JACK) 1</li>
            </ul>
        </div>


    </div>

    <div class="tab-pane" id="tb">
        <div class="review container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="review-avg">
                        
                    </div>
                </div>
                <div class="col-lg-3">2</div>
                <div class="col-lg-4">3</div>
                <div class="col-lg-2">4</div>
            </div>
        </div>
    </div>
</div>