<footer class="footer-section">
    <div class="container-fluid">
        <div class="footer-wrapper">
                <div class="row">
                    <div class="col-md-3 col-ms-12 footer-work-icons">
                        <ul class="cust-link">
                            <li>
                                <a class="trackOrder" href="#">
                                    <div class="track-icon">
                                    <i class=" marked fas fa-map-marked-alt"></i>                                     </div>
                                    <h2>Track Your Order</h2>
                                    <p>Follow your order as it makes its way through time and space unto your hands</p>
                                </a>                           
                             </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-ms-12 footer-work-icons">
                    <ul class="cust-link">
                            <li>
                                <a class="trackOrder" href="#">
                                    <div class="track-icon">
                                        <i class=" marked fas fa-shipping-fast"></i>
                                     </div>
                                    <h2>SD Express</h2>
                                    <p>Bolt your order!</p>
                                </a>                           
                             </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-ms-12 footer-work-icons">
                    <ul class="cust-link">
                            <li>
                                <a class="trackOrder" href="#">
                                    <div class="track-icon">
                                        <i  class=" marked fas fa-user-tie"></i>    
                                    </div>
                                    <h2>Excellect Customer Services</h2>
                                    <p>How can I be of assistance?</p>
                                </a>                           
                             </li>
                        </ul>
                    </div>
                    
                            <div class="col-md-3 col-ms-12 footer-work-icons">
                        <ul class=" cust-link"> 
                             <li>
                                <a class="trackOrder" href="#">
                                    <div class="track-icon">
                                        <i class=" marked fas fa-mobile-alt"></i>
                                     </div>
                                    <h2>Download the App</h2>
                                    <p>For quicker and quality experience while on your mobile device. Available for 
                                    both iOS and Andriod.</p>
                                </a>                           
                             </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="container-fluid">
         <div class="footer-wrapper">
            <div class="row">
                <div class="col-md-2 ">
                    <div class="footer-menu-heading">
                         <h2>About Us</h2>
                    </div>
                    <div class="footer-menu">
                         <ul class="expandible">
                            <li><a href="">About Next Shop</a></li>
                            <li><a href="">Site-Map</a></li>
                            <li><a href="">SD Stories</a></li>
                            <li><a href="">Awards & Recognition</a></li>
                            <li><a href="">Campaigins & Event</a></li>

                         </ul>
                    </div>
                </div>
                <div class="col-md-2">
                <div class="footer-menu-heading">
                         <h2>Help</h2>
                    </div>
                    <div class="footer-menu">
                         <ul class="expandible">
                            <li><a href="">Delivery Locations</a></li>
                            <li><a href="">Payment Method</a></li>
                            <li><a href="">FAQs</a></li>
                            <li><a href="">Returns & Exchange Policy</a></li>

                         </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="footer-menu-heading">
                         <h2>Work With Us</h2>
                    </div>
                    <div class="footer-menu">
                         <ul class="expandible">
                            <li><a href="">Feature your<p> business</p></a></li>
                            <li><a href="">Why work with us</a></li>
                         </ul>
                    </div>
                </div>
                 <div class="col-md-4 email-search">
                    <div class="footer-menu-heading">
                         <h2>Sign Up Our Newsletter</h2>
                    </div>
                    <div class="footer-menu">
                         <ul class="expandible">
                            <li><a href="">No junk. Just exclusive offer and <p>latest trends</p></a></li>
                                        <li class="seacrh-warp">
                                            <div class="searchDiv footerEmail">
                                                <form id="sastodeal_search" name="sastodeal_search"  
                                                action="#">
                                                    <div class="inputField inputEmail">
                                                        <input type="text" autocomplete="off" placeholder="Enter your email here.." id="searchkey" name="q" value="" class="placeholder">
                                                        <div id="searchResultDiv"></div>
                                                    </div>
                                                    <div class="submit">
                                                        <input type="submit" value="Submit">
                                                    </div>
                                                </form>

                                            </div>
                                        </li>
                         </ul>
                    </div>
                </div>
                <div class="col-md-2">
                <div class="footer-menu-heading1">
                         <h2>Contact With </h2>
                         <p>Us</p>
                    </div>
                    <div class="footer-menu1">
                              <a href="#" class="social-icon">
                                <i class=" icons fab fa-facebook"></i></a>
                                <a href="#" class="social-icon">
                                <i class=" icons fab fa-instagram"></i></a>
                    </div>
                </div>

            </div>
            
        <div>
    </div>
    <div class="container-fluid">
         <div class="footer-wrapper">
            <div class="row footer-bottom">
                <div class="col-md-12">
                    <ul class="footer-cout ">
                        <div class="footer-img"><li>


                        </li>
                        </div>
                        <div class="footer-heading">
                            <li>
                                <h2>Online Shopping Nepal</h2>
                            </li>
                        </div>
                        <div class="footer-online-desc">
                            <p>Next Shop is one of Nepal's biggest online shopping website. With internet users on the high rise, 
                            Nepal is moving towards a digital revolution. Shoppers no longer have to wait in traffic, bargain for 
                            discount and spend hours looking for the products and services that they want. All it takes is a few 
                            clicks and a few seconds to locate the product and to place order(s) at Next Shop. Home deliveries are
                             mostly free inside Kathmandu valley and a small surcharge is added for orders outside valley. 
                             Returns and exchanges are guaranteed within the specified time period.</p>
                             <p>We find it enthralling to see shoppers from every nook and corner of 
                             Nepal placing their orders at Next Shop. Meanwhile, savvy business owners have found it exceedingly easy to feature their 
                             products on our website. At absolutely zero marketing cost, businesses can reach millions of customers. 
                             That's the power of ecommerce. And we find it exhilarating to be leading the industry.</p>
                             <p>We're also pleased to announce, we have extended our network for book readers and travel enthusiasts. 
                             Follow Next Book.<br> Happy shopping! ─ Team Next Shop</p>
                             <p>If you have any queries, please reach out to us at:info@nextshop.com</p>
                        </div>
                        
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>