
        <div class="container-fluid site-header-responsive">
            <div class=" row header-responsive">
                <div class="col-sm-3 link">
                    <div class="responsive-menu">
                        <a href="" class="bar-menu" id="barMenu"><i class="fas fa-bars"></i></a>
                            <div class="logo-images">
                                <a href="#" class="logo floatleft">

{#                                    <h3 class="logo-img-txt">Next Shop</h3>#}
                                    <img src="images/logo.png" alt="">
                                </a>

                            </div>
                    </div>
                </div>
                <div class="col-sm-9 links">
                    <ul class=" user-links">
                        <li class="myaccountnav">
                            <div class="account-img">

                        <a href=""><i class=" search fas fa-search"></i></a>
                        </div>
                        </li>
                        <li class="myaccountnav">
                            <div class="account-img">
                                <a href=""><i class=" fas fa-cart-plus"></i></a>

                                    </div>
                                </li>

                                    <li class="myaccountnav">
                                        <div class="account-img">
                                            <a href="register.html"><i class="fas fa-user"></i></a>

                                                </div>
                                            </li>
                                        <li class="myaccount">
                                            <div class="account-img">
                                            <a href="login.html"><i class="fas fa-heart"></i>
                                            </a></div>
                                        </li>
                                        <li class="myaccount">
                                            <div class="account-img">
                                            <a href="track.html"> <i class="fab fa-first-order-alt"></i></a>
                                            </div>
                                        </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
