<header class="site-header">
    <div class="container-fluid main-heading">
        <div class="headerTop main-header fullwidth">
            <div class=" row">
                <div class="col-md-3">
                    <div class="logo-img">
                        <h3 class="logo-img-txt"><a href="index.html" class="logo-img-txt">Next Shop</a></h3>
                    </div>
                </div>
                <div class="col-md-9">
                        <div class="contact-head">
                        <div class="row check-head">
                            <div class="col-md-6 head-contact">
                                <ul class="check-content floatleft">
                                    <li class="first">
                                        <i class=" fas fa-phone"></i>Call Us- 
                                        <a href="tel- 01-597-0000">  01-597-0000
                                    </li>
                                    <li class="first">
                                         Connet With Us-
                                        <a href="#" class="social-icon">
                                        <i class="fab fa-facebook"></i></a>
                                        <a href="#" class="social-icon">
                                        <i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                             </div>
                            <div class="col-md-6 col-ms-12 users-link ">
                                <ul class=" user-link ">
                                    <li class="myaccountnav">
                                        <div class="account-img">
                                        <i class="fas fa-user"></i>
                                        </div>
                                        <a href="reglog.html" id="LoginBtn" class="">
                                        <i class=""></i>LOGIN/</a>
                                        <a href="reglog.html" id="RegisterBtn">REGISTER</a>
                                    <li>
                                    <li class="myaccountnav">
                                        <div class="account-img">
                                        <i class="fas fa-heart"></i>
                                        </div>
                                        <a href="login.html">WISHLIST</a>
                                    </li>
                                    <li class="myaccountnav">
                                        <div class="account-img">
                                            <i class="fab fa-first-order-alt"></i>                     
                                    </div>

                                        <a href="track.html">TRACK ORDER</a>

                                    </li>
                                </ul>
                                </div>
                            </div>
                            
                            <div class="row ">  
                                <div class="col-md-12"> 
                                    <ul class="fullwidth search-cart">
                                        <li class="searchToggle fleft spiritImg"></li>
                                        <li class="seacrh-warp floatleft">
                                            <div class="searchDiv">
                                                <form id="sastodeal_search" name="sastodeal_search" method="get" 
                                                action="#">
                                                    <div class="inputField">
                                                        <i class=" search fas fa-search"></i>
                                                        <input type="text" autocomplete="off" placeholder="Find Products,Categories...." id="searchkey" name="q" value="" class="placeholder">
                                                        <div id="searchResultDiv"></div>
                                                    </div>
                                                    <input type="submit" value="SEARCH">
                                                </form>

                                            </div>
                                        </li>
                                        <li id="cartCountTiles"><div class="cartdiv shopcartlink" id="cartCount">
                                            <a class="cart-icon spiritImg" href="">
                                            <span>0</span>
                                            <i class=" fas fa-cart-plus"></i>
                                            </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div> 
                            </div> 
                        </div>
                    </div>  
                    
                </div>
            </div>
        </div>  
    </div>
</header>
