<div class="bx-wrapper">
    <div class="container-fluid">
        
     <div class="work-slidebar">   
        <div class="work-slidebar-box">
            <div class="owl-slider">
              <div id="carous" class="owl-carousel">
        
                <div class="work-slidebar-boxs">
                  <img class="work-slidebar-boxs-pic"
                    src="images/home.png">
                </div>
        
                <div class="work-slidebar-boxs">
                  <img class="work-slidebar-boxs-pic"
                    src="images/home.png">
                </div>
                </div>
        
            </div>
         </div>
         </div>
        
    </div>

    </div>
    
