<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-lg-2 col-ms-12">
            <aside>
                <div class="fact-wrapper">
                    <div class="facet-category-title">Show Results For</div>
                </div>
                <div class="categories">
                    <div class="categorie">
                        <h1>CATEGORIES</h1>
                    </div>
                    <div class="categories-menus">
                        <div class="categories-menu">
                            <a href="" class="fact-item active">
                        <span class="fact-name">
                        <i class="fa fa-angle-right"></i>
                            Home and Living
                        </span>
                            </a>

                            <div class="categories-menu1">
                                <a href="" class="fact-item active">
                        <span class="fact-name">
                        <i class="fa fa-angle-right"></i>
                             Small Home Appliances
                        </span>
                                </a>
                            </div>
                        </div>
                        <div class="categories-menu2">
                            <a href="" class="fact-item active">
                        <span class="fact-name">
                        <i class="fa fa-angle-right"></i>
                             Kitchen Hood and Chimney
                             </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="fact-wrapper">
                    <div class="categories">
                        <div class="categorie">
                            <h1>Location</h1>
                        </div>

                        <div class="brands">
                            <div class="facet-brands">
                                <a href="" class="facet-item">
                                    <input type="checkbox" class="list--checkbox" value="Omni">Nepal</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fact-wrapper">
                    <div class="facet-category-title">Show Results For</div>
                </div>
                <div class="categories">
                    <div class="categorie">
                        <h1>Prices</h1>
                    </div>
                    <div class="price-ranges">
                        <ul class="price-range">
                            <li><a href="">Rs.11,999-13,500</li>
                            <li><a href="">Rs.13,500-15,000</li>
                            <li><a href="">Rs.15,000-16,500</li>
                            <li><a href="">Rs.16,500-18,000</li>
                            <li><a href="">Rs.18,000-19,900</li>
                            <li><a href="">Rs.19,900-21,800</li>
                            <li><a href="">Rs.21,800</li>
                        </ul>
                    </div>
                    <form class="price-select-rangs">
                        <lable class="price-lable">Rs</lable>
                        <input type="number" class="ais-price-ranges--input" value="10">
                        <lable class="price-lable"> to Rs</lable>
                        <input type="number" class="ais-price-ranges--input" value="10">
                        <button class="price-ranges-button" type="submit">Go</button>
                    </form>
                </div>
                <div class="fact-wrapper">
                    <div class="categories">
                        <div class="categorie">
                            <h1>BRANDS </h1>
                        </div>
                    </div>
                    <div class="brands">
                        <a href="" class="facet-item">
                            <input type="checkbox" class="list--checkbox" value="Omni">Omni
                            <span class="facet-count">(4)</span></a><br>
                        <a href="" class="facet-item">
                            <input type="checkbox" class="list--checkbox" value="Omni">Generic
                            <span class="facet-count">(1)</span></a>
                    </div>
                </div>
        </div>


        </aside>

        <div class="col-md-10 col-lg-10 col-ms-12">
            <div class="result-wrapper">
                <div class="row">
                    <div class="col-md-8 col-ms-12">
                        <div class="result-topbar">
                            <div class="text-muted">
                                <a href=""><span>4 results founds in 4ms</span></a>
                            </div>
                            <div class="categories-value-list">
                                <div class="categories-titel-list">
                                    <a href="">Omini
                                        <span class="categories-value">4</span></a>
                                </div>
                                <div class="categories-titel-list">
                                    <a href="">Kitchen Hood and Chimney
                                        <span class="categories-value">4</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-ms-12">
                        <div class="categories-sortby">
                            <div class="sortby-title">Sort By:</div>
                            <span class="sortby-select">
                                    <select name="" class="select-item">
                                            <option value=""> Relevance </option>
                                            <option value=""> Highest Discount </option>
                                            <option value="">Price Low to High </option>
                                            <option value="">Price High to Low</option>

                                    </select>
                                </span>
                        </div>
                    </div>
                    <div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-ms-6">
                            <div class=" product-item active" style="width: 250px;"><a href="demo.html">
                                    <div class="products-card products-cards">
                                        <img src="images/SD.jpg" alt="" class="products-card-img">

                                        <div class="products-card-details item">
                                            <h3 class="products-card-details-title">Omni Kitchen Chimney 900A2-1 Free
                                                Delivery & Installation Inside Valley</h3>
                                            <div class="products-card-details-price">
                                                <span class="products-card-details-price-item price-current"> <em
                                                            class="rupeeSymbol">रू</em>29,990</span>
                                                <span class="products-card-details-price-item price-before"> <em
                                                            class="rupeeSymbol">रू</em>46,404</span>
                                            </div>
                                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                                        </div>
                                    </div>
                                </a></div>
                        </div>
                        <div class="col-md-3 col-ms-6">
                            <div class=" product-item active" style="width: 250px;"><a href="demo.html">
                                    <div class="products-card products-cards">
                                        <img src="images/SD1.jpg" alt="" class="products-card-img">

                                        <div class="products-card-details item">
                                            <h3 class="products-card-details-title">Omni Kitchen Chimney 900A4-7 Free
                                                Delivery & Installation Inside Valley</h3>
                                            <div class="products-card-details-price">
                                                <span class="products-card-details-price-item price-current"> <em
                                                            class="rupeeSymbol">रू</em>29,990</span>
                                                <span class="products-card-details-price-item price-before"> <em
                                                            class="rupeeSymbol">रू</em>46,404</span>
                                            </div>
                                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                                        </div>
                                    </div>
                                </a></div>
                        </div>
                        <div class="col-md-3 col-ms-6">

                            <div class=" product-item active" style="width: 250px;"><a href="demo.html">
                                    <div class="products-card products-cards">
                                        <img src="images/SD2.jpg" alt="" class="products-card-img">

                                        <div class="products-card-details item">
                                            <h3 class="products-card-details-title">Omni Kitchen Chimney 900A3-9 Free
                                                Delivery & Installation Inside Valley</h3>
                                            <div class="products-card-details-price">
                                                <span class="products-card-details-price-item price-current"> <em
                                                            class="rupeeSymbol">रू</em>29,990</span>
                                                <span class="products-card-details-price-item price-before"> <em
                                                            class="rupeeSymbol">रू</em>46,404</span>
                                            </div>
                                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                                        </div>
                                    </div>
                                </a></div>
                        </div>
                        <div class="col-md-3 col-ms-6">
                            <div class=" product-item active" style="width: 250px;"><a href="demo.html">
                                    <div class="products-card products-cards">
                                        <img src="images/SD3.jpg" alt="" class="products-card-img">

                                        <div class="products-card-details item">
                                            <h3 class="products-card-details-title">Omni Touch Sensor Kitchen Chimney
                                                900V20B Free Delivery & Installation Inside Valley</h3>
                                            <div class="products-card-details-price">
                                                <span class="products-card-details-price-item price-current"> <em
                                                            class="rupeeSymbol">रू</em>29,990</span>
                                                <span class="products-card-details-price-item price-before"> <em
                                                            class="rupeeSymbol">रू</em>46,404</span>
                                            </div>
                                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                                        </div>
                                    </div>
                                </a></div>
                        </div>
                        </section>

                        <section id="pagination">
                            <ul class="pagination-pre">
                                <li class="item-previous ">
                                    <span class="pagination-link"><i
                                                class="fa fa-angle-left fa-2x"></i> Previous page</span>
                                </li>
                                <li class="item-previous active">
                                    <a class="pagination-link" aria-label="1" href="">1</a></li>
                                <li class="item-previous">
                                    <span class="pagination-link">Next page <i
                                                class="fa fa-angle-right fa-2x"></i></span></li>
                            </ul>
                        </section>


                    </div>

                </div>


            </div>
