<section class="privacy-container">
    <div class="privacy-inner-page">

        <div class="privacy-inner">
            <h1>Privacy Policy</h1>
        </div>
            <div class="privacy-border">
                <p class="top-section">Last Updated on 25th February 2020</p>
                <p>THIS PRIVACY POLICY IS AN ELECTRONIC RECORD IN THE FORM OF AN ELECTRONIC CONTRACT FORMED UNDER THE INFORMATION 
                TECHNOLOGY ACT, 2000 AND THE RULES MADE THEREUNDER AND THE AMENDED PROVISIONS PERTAINING TO ELECTRONIC DOCUMENTS / 
                RECORDS IN VARIOUS STATUTES AS AMENDED BY THE
                INFORMATION TECHNOLOGY ACT, 2000. THIS PRIVACY POLICY DOES NOT REQUIRE ANY PHYSICAL, ELECTRONIC OR DIGITAL SIGNATURE.</p>
                <p>THIS PRIVACY POLICY IS A LEGALLY BINDING DOCUMENT BETWEEN YOU AND NEPSHOP (BOTH TERMS DEFINED BELOW). 
                THE TERMS OF THIS PRIVACY POLICY WILL BE EFFECTIVE UPON YOUR ACCEPTANCE OF THE SAME (DIRECTLY OR INDIRECTLY 
                IN ELECTRONIC FORM, BY CLICKING ON THE I ACCEPT TAB OR BY USE OF THE WEBSITE OR BY OTHER MEANS) 
                AND WILL GOVERN THE RELATIONSHIP BETWEEN YOU AND SNAPDEAL FOR YOUR USE OF THE WEBSITE (DEFINED BELOW).</p>
                <p>THIS DOCUMENT IS PUBLISHED AND SHALL BE CONSTRUED IN ACCORDANCE WITH THE PROVISIONS OF THE INFORMATION TECHNOLOGY
                (REASONABLE SECURITY PRACTICES AND PROCEDURES AND SENSITIVE PERSONAL DATA OF INFORMATION) RULES, 2011 UNDER INFORMATION
                TECHNOLOGY ACT, 2000; THAT REQUIRE PUBLISHING OF THE PRIVACY POLICY FOR COLLECTION, USE, STORAGE AND TRANSFER OF
                SENSITIVE PERSONAL DATA OR INFORMATION.</p>
                <p>PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY USING THE WEBSITE, YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT 
                TO THIS PRIVACY POLICY. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT USE THIS WEBSITE. 
                YOU HEREBY PROVIDE YOUR UNCONDITIONAL CONSENT OR AGREEMENTS TO SNAPDEAL AS PROVIDED UNDER SECTION 43A AND SECTION 
                72A OF INFORMATION TECHNOLOGY ACT, 2000.</p>
                <ul class="privacy-policy-list">
                    <h4>NapShop has provided this Privacy Policy to familiarise You with:</h4>

                    <li>The type of data or information that You share with or provide to Snapdeal and that Snapdeal collects from You;</li>
                    <li>The purpose for collection of such data or information from You;</li>
                    <li>Snapdeal's information security practices and policies; and</li>
                    <li>Snapdeal's policy on sharing or transferring Your data or information with third parties. This Privacy Policy may be 
                    amended / updated from time to time. Upon amending / updating the Privacy Policy, we will accordingly amend the date above. 
                    We suggest that you regularly check this Privacy Policy to apprise yourself of any updates. Your continued use of Website or 
                    ovision of data or information thereafter will imply Your unconditional acceptance of such updates to this Privacy Policy.</li>
                    <li>Information collected and storage of such Information:</li>
                    <p>The "Information" (which shall also include data) provided by You to Snapdeal or collected from You by Snapdeal may 
                    consist of "Personal Information" and "Non-Personal Information".</p>
                    <li>Personal Information:</li>
                    <p>Personal Information is Information collected that can be used to uniquely identify or contact You. Personal 
                    Information for the purposes of this Privacy Policy shall include, but not be limited to:</p>
                    <li>Your user name along with Your password,</li>
                    <li>Your name,</li>
                    <li>Your address,</li>
                <li> Your telephone number,</li>
                    <li>Your e-mail address or other contact information,</li>
                    <li>Your date of birth,</li>
                    <li>Your gender,</li>
                    <li>Information regarding your transactions on the Website, (including sales or purchase history),</li>
                <li> Your financial information such as bank account information or credit card or debit card or other payment instrument 
                details including OTP,</li>
                    <li>Internet Protocol address,</li>
                    <li>Any other items of ‘sensitive personal data or information' as such term is defined under the Information Technology (Reasonable Security Practices And Procedures And Sensitive Personal Data Of Information) Rules, 2011 enacted under the Information Technology Act, 2000;
                    Identification code of your communication device which You use to access the Website or otherwise deal with any Snapdeal entity,
                    Any other Information that You provide during Your registration process, if any, on the Website. Such Personal Information may be collected in various ways including during the course of You:</li>
                    
                </ul>
            </div>
        <div class="privacy-policy-inner">
            <div class="policy-sharing">
                <h4>Sharing and disclosure of Your Information</h4>
                    <p>You hereby unconditionally agree and permit that nepshop may transfer, share, disclose or part with all or any of 
                    Your Information, within and outside of the Republic of India to various Snapdeal entities and to third party service 
                    providers / partners / banks and financial institutions for one or more of the Purposes or as may be required by 
                    applicable law. In such case we will contractually oblige the receiving parties of the Information to ensure the same 
                    level of data protection that is adhered to by Snapdeal under applicable law.</p>
                    <p>You acknowledge and agree that, to the extent permissible under applicable laws, it is adequate that when Snapdeal 
                    transfers Your Information to any other entity within or outside Your country of residence, Snapdeal will place 
                    contractual obligations on the transferee which will oblige the transferee to adhere to the provisions of this Privacy
                    Policy.</p>
                    <p>You unconditionally agree and permit Snapdeal to access and read your SMS to autofill or prepopulate ‘OTP’ while
                    making a transaction and to validate your mobile number.</p>
                    <p>We reserve the right to disclose your information when required to do so by law or regulation, or 
                    under any legal obligation or order under law or in response to a request from a law enforcement or 
                    governmental agency or judicial, quasi-judicial or any other statutory or constitutional authority or to establish 
                    or exercise our legal rights or defend against legal claims.</p>
            </div>

            <div class="policy-sharing">
                <h4>Links to third party websites</h4>
                <p>Links to third-party advertisements, third-party websites or any third party electronic communication service may 
                be provided on the Website which are operated by third parties and are not controlled by, or affiliated to, or associated 
                with, Snapdeal unless expressly specified on the Website.</p>
                <p>Snapdeal is not responsible for any form of transmission, whatsoever, received by You from any third party website. 
                Accordingly, Snapdeal does not make any representations concerning the privacy practices or policies of such third parties 
                or terms of use of such third party websites, nor does Snapdeal control or guarantee the accuracy, integrity, or quality of the 
                information, data, text, software, music, sound, photographs, graphics, videos, messages or other materials available on such 
                third party websites. The inclusion or exclusion does not imply any endorsement by Snapdeal of the third party websites, 
                the website's provider, or the information on the website. The information provided by You to such third party websites 
                shall be governed in accordance with the privacy policies of such third party websites and it is recommended that You review 
                the privacy policy of such third party websites prior to using such websites.</p>
            </div>
            <div class="policy-sharing">
                <h4>Security & Retention</h4>
                <p>The security of your Personal Information is important to us. Snapdeal strives to ensure the security of Your 
                Personal Information and to protect Your Personal Information against unauthorized access or unauthorized alteration, 
                disclosure or destruction. For this purpose, Snapdeal adopts internal reviews of the data collection, storage and processing 
                practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized
                 access to systems where Snapdeal stores Your Personal Information. Each of the Snapdeal entity shall adopt reasonable security 
                 practices and procedures as mandated under applicable laws for the protection of Your Information. Provided that Your right 
                 to claim damages shall be limited to the right to claim only statutory damages under Information Technology Act, 2000 and You 
                 hereby waive and release all nepshop entities from any claim of damages under contract or under tort.</p>
                 <p>Snapdeal may share your Information with third parties under a confidentiality agreement which inter alia 
                 provides for that such third parties not disclosing the Information further unless such disclosure is for the
                  Purpose. However, Snapdeal is not responsible for any breach of security or for any actions of any third parties
                   that receive Your Personal Information. Snapdeal is not liable for any loss or injury caused to You as a result 
                   of You providing Your Personal Information to third party (including any third party websites, even if links to 
                   such third party websites are provided on the Website).</p>
             </div>
            <div class="policy-sharing">
            <h4>Business / Assets Sale or Transfers</h4>
            <p>Nepshop may sell, transfer or otherwise share some or all of its assets, including Your Information in connection 
            with a merger, acquisition, reorganization or sale of assets or business or in the event of bankruptcy. Should such a 
            sale or transfer occur, such Snapdeal entity will reasonably ensure that the Information you have provided and which 
            we have collected is stored and used by the transferee in a manner that is consistent with this Privacy Policy. 
            Any third party to which any of Snapdeal entity transfers or sells as aforesaid will have the right to continue 
            to use the Information that you provide to us or collected by us immediately prior to such transfer or sale.</p>



            </div>
            <div class="policy-sharing">
            <h4>Further Acknowledgements</h4>
            <p>You hereby acknowledge and agree that this Privacy Policy:</p>
            <li>is clear and easily accessible and provide statements of Snapdeal policies and practices with respective to the 
            Information;</li>
            <li>provides for the various types of personal or sensitive personal data of information to be collected;</li>
            <li>provides for the purposes of collection and usage of the Information;</li>
            <li>provides for disclosure of Information; and</li>
            <li>provides for reasonable security practices and procedures.</li>





            </div>


        </div>
        
        
    </div>
</section>
