<div class="container productspage">
    <div class="row">
        <div class="col-lg-5 col-md-12 productspage-image"><img src="images/chips.jpg" alt=""></div>
        <div class="col-lg-5 col-md-8 col-sm-12 productspage-details">
            <h3 class="productspage-title">Thomson 43 Inch Android Smart Full HD LED TV (Television) [43T590S]</h3>
            <div class="productspage-reviewdiv">
                <div class="productspage-reviewdiv-review">
                    <span>0 Reviews</span>
                    <span>Write a Review</span>
                </div>
                <div class="productspage-reviewdiv-review">
                    <span>Share</span>
                </div>
            </div>
            <span>Sold By<span class="productspage-seller">UE Electronics</span></span>
            <div class="productspage-highlights">
                <h5 class="productspage-highlights-title">HIGHLIGHTS</h5>
                <ul class="productspage-highlights-features">
                    <li>Resolution : 3840 × 2160 (Ultra HD)</li>
                    <li>55 inch screen</li>
                    <li>Acoustic Speaker : 5</li>
                    <li>HDMI, USB, VGA : Yes</li>
                    <li>Android Smart TV</li>
                </ul>
                <a href="" class="productspage-highlights-viewall">View all item details</a>
            </div>
            <div class="productspage-warranty">
            
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 productspage-buy">3</div>
    </div>
</div>


