<div class="container productspage">
    <div class="row">
        <div class="col-lg-5 col-md-12 productspage-image"><img src="images/chips.jpg" alt=""></div>
        <div class="col-lg-5 col-md-8 col-sm-12 productspage-details">2</div>
        <div class="col-lg-2 col-md-4 col-sm-12 productspage-buy">3</div>
    </div>
</div>


