  <div class="container products">
<ul class="nav nav-pills">
    <li class="nav-item ">
        <a href="#a" class="nav-link active" data-toggle="tab">
            <h3 class="products-title">Top Kids Collection</h3>
        </a>
    </li>
    <li class="nav-item">
        <a href="#b" class="nav-link" data-toggle="tab">
            <h3 class="products-title">Women collections</h3>
        </a>
    </li>
</ul>

<div class="tab-content clearfix">
    <div class="tab-pane active" id="a">
      

            <div  class="products owl-carousel">

                <a href="demo.html">
                    <div class="products-card">
                        <img src="images/30.jpg" alt="" class="products-card-img">

                        <div class="products-card-details item">
                            <h3 class="products-card-details-title">Thomson 43 Inch Android Smart Full HD LED TV
                                (Television) [43T590S] asdfghjkjlqwerty kkkkkkkkkk jjjjjjjjjjjjjjj iiiiiiii</h3>
                            <div class="products-card-details-price">
                                <span class="products-card-details-price-item price-current"> <em
                                        class="rupeeSymbol">रू</em>29,990</span>
                                <span class="products-card-details-price-item price-before"> <em
                                        class="rupeeSymbol">रू</em>46,404</span>
                            </div>
                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                        </div>
                    </div>
                </a>

                <a href="demo.html">
                    <div class="products-card">
                        <img src="images/31.jpg" alt="" class="products-card-img">

                        <div class="products-card-details item">
                            <h3 class="products-card-details-title">1234 43 Inch Android Smart Full HD LED TV
                                (Television) [43T590S] asdfghjkjlqwerty kkkkkkkkkk jjjjjjjjjjjjjjj iiiiiiii</h3>
                            <div class="products-card-details-price">
                                <span class="products-card-details-price-item price-current"> <em
                                        class="rupeeSymbol">रू</em>29,990</span>
                                <span class="products-card-details-price-item price-before"> <em
                                        class="rupeeSymbol">रू</em>46,404</span>
                            </div>
                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                        </div>
                    </div>
                </a>


                <a href="demo.html">
                    <div class="products-card">
                        <img src="images/32.jpg" alt="" class="products-card-img">

                        <div class="products-card-details item">
                            <h3 class="products-card-details-title">1234 43 Inch Android Smart Full HD LED TV
                                (Television) [43T590S] asdfghjkjlqwerty kkkkkkkkkk jjjjjjjjjjjjjjj iiiiiiii</h3>
                            <div class="products-card-details-price">
                                <span class="products-card-details-price-item price-current"> <em
                                        class="rupeeSymbol">रू</em>29,990</span>
                                <span class="products-card-details-price-item price-before"> <em
                                        class="rupeeSymbol">रू</em>46,404</span>
                            </div>
                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                        </div>
                    </div>
                </a>
                <a href="demo.html">
                    <div class="products-card">
                        <img src="images/33.jpg" alt="" class="products-card-img">

                        <div class="products-card-details">
                            <h3 class="products-card-details-title">Videocon 55 inch 4K Smart LED TV (55DN4S)</h3>
                            <div class="products-card-details-price">
                                <span class="products-card-details-price-item price-current"> <em
                                        class="rupeeSymbol">रू</em>29,990</span>
                                <span class="products-card-details-price-item price-before"> <em
                                        class="rupeeSymbol">रू</em>46,404</span>
                            </div>
                            <span class="products-card-details-disPercent price-disPercent">(Save 35%)</span>

                        </div>
                    </div>

            </div>
        
        </a>









    </div>
    <div class="tab-pane" id="b">
        <div class="container products">

            <div id="carousel" class="products owl-carousel ">

                <a href="demo.html">
                    <div class="products-card">
                        <img src="images/1.jpg" alt="" class="products-card-img">

                        <div class="products-card-details item">
                            <h3 class="products-card-details-title">Thomson 43 Inch Android Smart Full HD LED TV
                                (Television) [43T590S] asdfghjkjlqwerty kkkkkkkkkk jjjjjjjjjjjjjjj iiiiiiii</h3>
                            <div class="products-card-details-price">
                                <span class="products-card-details-price-item price-current"> <em
                                        class="rupeeSymbol">रू</em>29,990</span>
                                <span class="products-card-details-price-item price-before"> <em
                                        class="rupeeSymbol">रू</em>46,404</span>
                            </div>
                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                        </div>
                    </div>
                </a>

                <a href="demo.html">
                    <div class="products-card">
                        <img src="images/2.jpg" alt="" class="products-card-img">

                        <div class="products-card-details item">
                            <h3 class="products-card-details-title">1234 43 Inch Android Smart Full HD LED TV
                                (Television) [43T590S] asdfghjkjlqwerty kkkkkkkkkk jjjjjjjjjjjjjjj iiiiiiii</h3>
                            <div class="products-card-details-price">
                                <span class="products-card-details-price-item price-current"> <em
                                        class="rupeeSymbol">रू</em>29,990</span>
                                <span class="products-card-details-price-item price-before"> <em
                                        class="rupeeSymbol">रू</em>46,404</span>
                            </div>
                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                        </div>
                    </div>
                </a>


                <a href="demo.html">
                    <div class="products-card">
                        <img src="images/3.jpg" alt="" class="products-card-img">

                        <div class="products-card-details item">
                            <h3 class="products-card-details-title">1234 43 Inch Android Smart Full HD LED TV
                                (Television) [43T590S] asdfghjkjlqwerty kkkkkkkkkk jjjjjjjjjjjjjjj iiiiiiii</h3>
                            <div class="products-card-details-price">
                                <span class="products-card-details-price-item price-current"> <em
                                        class="rupeeSymbol">रू</em>29,990</span>
                                <span class="products-card-details-price-item price-before"> <em
                                        class="rupeeSymbol">रू</em>46,404</span>
                            </div>
                            <span class="products-card-details-price-item price-disPercent">(Save 35%)</span>

                        </div>
                    </div>
                </a>
                <a href="demo.html">
                    <div class="products-card">
                        <img src="images/4.jpg" alt="" class="products-card-img">

                        <div class="products-card-details">
                            <h3 class="products-card-details-title">Videocon 55 inch 4K Smart LED TV (55DN4S)</h3>
                            <div class="products-card-details-price">
                                <span class="products-card-details-price-item price-current"> <em
                                        class="rupeeSymbol">रू</em>29,990</span>
                                <span class="products-card-details-price-item price-before"> <em
                                        class="rupeeSymbol">रू</em>46,404</span>
                            </div>
                            <span class="products-card-details-disPercent price-disPercent">(Save 35%)</span>

                        </div>
                    </div>

            </div>
        </div>
        </a>





    </div>
</div>
</div>