<div class="container productspage mt-3">
    {% include 'breadcrumb.njk' %}
    <div class="row">
        <div class="col-lg-4 col-md-12 productspage-image"><img src="images/chips.jpg" alt=""></div>
        <div class="col-lg-5 col-md-8 col-sm-12 productspage-details">
            <h3 class="productspage-title">Thomson 43 Inch Android Smart Full HD LED TV (Television) [43T590S]</h3>
            <div class="productspage-reviewdiv">
                <div class="productspage-reviewdiv-review">
                    <div class="productspage-reviewdiv-review-rating">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i>

                        <span>0 Reviews</span>
                    </div>
                    <span>Write a Review</span>
                </div>
                <div class="productspage-reviewdiv-share">

                    <i class="fas fa-share-alt"></i>
                    <span>Share</span>
                </div>
            </div>
            <div class="productspage-sellerdiv">
                <span class="productspage-sellerdiv-soldby">Sold By</span>
                <span class="productspage-sellerdiv-soldby-seller">UE Electronics</span>
                <br><span class="productspage-sellerdiv-soldby-seller">Sizechart</span>
            </div>

            <div class="productspage-highlights">
                <span class="productspage-highlights-title">HIGHLIGHTS</span>
                <ul class="productspage-highlights-features">
                    <li>Resolution : 3840 × 2160 (Ultra HD)</li>
                    <li>55 inch screen</li>
                    <li>Acoustic Speaker : 5</li>
                    <li>HDMI, USB, VGA : Yes</li>
                    <li>Android Smart TV</li>
                </ul>
                <a href="" class="productspage-highlights-viewall">View all item details</a>
            </div>
            <div class="productspage-warranty">
                <div class="productspage-warranty-time">
                    <span class="productspage-warranty-time-title">WARRANTY</span>
                    <span class="productspage-warranty-time-year">1 Year</span>
                </div>
                <div class="productspage-warranty-time">
                    <span class="productspage-warranty-time-title">WARRANTY</span>
                    <span class="productspage-warranty-time-year">1 Year</span>
                </div>
                <div class="productspage-warranty-time">
                    <span class="productspage-warranty-time-title">WARRANTY</span>
                    <span class="productspage-warranty-time-year">1 Year</span>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 productspage-buy">

                        <div class="productspage-buy-cart">
                <div class="productspage-buy-cart-quantity">

                    <p> QUANTITY:</p>
                    <span class="products-page-buy-cart-quantity-add">
                        <select name="" class="add-packet">
                            <option value=""> 1 </option>
                            <option value=""> 2 </option>
                            <option value="">3 </option>
                            <option value="">4 </option>
                            <option value="">5 </option>

                        </select>
                    </span>
                </div>
                <div class=" productspage-buy-cart-detail">
                    <div class=" productspage-buy-cart-detail-price">
                        <h1>Rs 29,990/-</h1>
                    </div>
                    <div class=" productspage-buy-cart-detail-discount">
                        <span class="discount-prices"> Rs 46,404</span>
                        <span class="discount-offer">(save 35%)</span>
                    </div>

                </div>

                <div class="add-to-cart-btn productspage-buy-cart-btn ">
                    <button type="button" class="btn-cart ">BUY NOW</button>
                    <button type="button" class="btn-cart1 ">ADD TO CART</button>
                    <div class="productspage-buy-cart-icon">
                        <a href=""> <i class="fas fa-heart"></i><span class="wishlist">ADD TO WISHLIST</span></a>

                    </div>


                </div>
            </div>
            <div class=" productspage-buy-cart-estimate">
                <div class="productspage-buy-cart-estimate-delivery">
                    <h4>ESTIMATED DELIVERY TIME</h4>
                    <input type="text" placeholder="Kathmandu (inside ring road)" name="Name" class="login-input"
                        required> <br>
                    <p>Delivery time : 2days</p>
                    <p class="delivery-cost">Delivery cost : 300</p>
                </div>
                <div class="estimate-normal-delivery">
                    <input type="radio" id="female" name="" value="" class="checkbox-input">
                    <span>SD Normal Delivery</span>
                    <p>*2 working days' delivery</p>
                    <p>*No deliveries on Saturdays</p>

                </div>
            </div>

        </div>
    </div>
</div>

