
<div class="container reglog">
    <div class="row">
    <div class=" col-lg-6">
    <div class="loginpage">
            <div class="row ">
                <div class="col-md-6 col-sm-12">
                    <div class="loginpage-heading">
                        <h1> Register</h1>
                    </div>
                </div>

            </div>
    </div>
    
    <div class="register-inners">
        <form>
    <div class="row">

        <div class="col-md-6 col-lg-6 col-sm-12 register-inner">

                <div class="form-inner">
                <label class="form-label"><span class="red-text">*</span>Name</label><br>
                <input type="text" placeholder="Name" name="Name"  id="login-label" class="login-input-style" required>  <br>
                <label class="form-label"><span class="red-text">*</span>Mobile Number</label><br>
                <input type="text" placeholder="+977 98xxxxxxx" name="Name"  id="login-label" class="login-input-style" required>  <br>
                <label class="form-label"><span class="red-text">*</span>Password</label><br>
                <input type="text" placeholder="Password" name="Name"  id="login-label" class="login-input-style" required>  <br><br>

           </div>

        </div>
        <div class="col-md-6  col-lg-6 col-sm-12 login-form">

            <div class="form-inner">
                <label class="form-label"><span class="red-text">*</span>E-mail ID</label><br>
                <input type="text" placeholder="Email" name="Name"  id="login-label" class="login-input-style" required>  <br>
                <label class="form-label"><span class="red-text">*</span>Alternate Number</label><br>
                <input type="text" placeholder="+977 98xxxxx" name="Name"  id="login-label" class="login-input-style" required>  <br>
                <label class="form-label">Gender</label><br>
                <div class="reg-gender-button">
                <input type="radio" id="male" name="gender" value="male" class="checkbox-input">
                    <label for="male"  class="checkbox-label">Male</label>
                    <input type="radio" id="female" name="gender" value="female"class="checkbox-input">
                    <label for="female" class="checkbox-label">Female</label><br>
                </div>


           </div>



        </div>
        <div class="col-md-12">
            <button type="button" class="register-btn ">CREATE MY ACCOUNT</button>

        </div>

    </div>
        </form>
    </div>
    </div>

    <div class="rin col-lg-6">

        <div class="loginpage">
            <div class="row ">
                <div class="col-md-6 col-sm-12">
                    <div class="loginpage-heading">
                        <h1> Login</h1>
                    </div>
                </div>


            </div>
        </div>

        <div class="login-inners">
            <form>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 login-inner">

                        <div class="form-inner">
                            <label class="form-label"><span class="red-text">*</span>E-mail ID</label><br>
                            <input type="text" placeholder="Email" name="Name"  id="login-label" class="login-input-style" required>  <br>
                            <label class="form-label"><span class="red-text">*</span>Password</label><br>
                            <input type="text" placeholder="Password" name="Name"  id="login-label" class="login-input-style" required>  <br><br><br>

                        </div>

                    <div class="col-md-12 flogin">
                        <div class="forget-password"><a href="">Forget Password</a></div>
                        <button type="button" class=" login-btn ">Login</button>

                    </div>

                </div>
                <div class="col-md-6  col-lg-6 col-md-12 login-form">
                    <div class="login-socialsite">
                        <p>Login in with socialsites</p>
                        <div class="login-socialicon">
                            <a href="" class="facebook"><i class="fab fa-facebook"></i></a>
                            <a href="" class="google"><i class="fab fa-google"></i></a>


                        </div>
                    </div>
                </div>


                </div>


        </div>

    </div>
    </div>
</div>
