<div class="bx-wrapper">
    <div class="container-fluid  padding-section">

          <div class="work-slidebar">
        <div class="work-slidebar-box">
            <div class="owl-slider">
              <div id="carousel" class="owl-carousel fullwidth-banner">


                <div class="work-slidebar-boxs">
                  <img class="work-slidebar-boxs-pic"
                    src="images/banner1.png">

                </div>


                <div class="work-slidebar-boxs">
                  <img class="work-slidebar-boxs-pic"
                    src="images/banner2.png">
                </div>


              </div>

            </div>
          </div>

        </div>

    </div>
</div>
