<div class="container orders__container tabcontent" id="orders">
    <h3>My orders</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ORDERS#</th>
                <th>DATE</th>
                <th>SHIP TO</th>
                <th>ORDER TOTAL</th>
                <th>ORDER STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>John</td>
                <td>Doe</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
