<section class="content-box-row">
    <div class="content-box">
        <div class="row ">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 thank-you-border text-center">
                <div class="thankyou--border-box">
            <span>
                <h1>thankyou</h1>
            </span>
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Delectus et laboriosam obcaecati veritatis. Aut fuga ipsa ipsam magni perspiciatis possimus?
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
