<div class="container wishlist__container tabcontent " id="wishlist">
    <h3>My wishlist</h3>
    <div class="table-responsive d-none d-sm-block">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td style="width:100px;">
                    <div class="wishlist-product-img">
                        <a href="" class="d-block">

                            <img src="https://img.ltwebstatic.com/images2_pi/2019/04/02/1554200842875615371_thumbnail_900x1199.jpg" alt="">
                        </a>
                    </div>
                </td>
                <td>
                    <a href="" class="link">Striped Chevron Print Smock Dress</a>
                </td>
                <td class="price__container">
                    <span class="price d-block">Rs.15000</span>
                    <button>Add to cart</button>
                </td>
                <td>
                    <button class="button--cancel" title="delete"><i class="fas fa-trash"></i></button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    {#mobile view#}
    <div class="mobile-responsive-wishlist d-block d-sm-none">
        <div class="table-row table-content">
            <div class=" wishlist-product-img">
                <a class="product-image" href="https://www.letstango.com/product/apple-mac-mini-mgen2" title="Apple Mac Mini MGEN2">
                    <img src="https://www.letstango.com/media/catalog/product/cache/1/small_image/113x113/9df78eab33525d08d6e5fb8d27136e95/5/4/547ad3689186f5.60278948.jpg" width="113" height="113" alt="Apple Mac Mini MGEN2">
                </a>
            </div>
            <div class="table-cell">
                <a href="https://www.letstango.com/product/apple-mac-mini-mgen2" class="link base-xs-large-buffer" title="Apple Mac Mini MGEN2">Apple Mac Mini MGEN2</a>
            </div>
            <div class="table-cell">
                <div class="cart-cell">
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price-label">Price</span>
                            <span class="price" id=""> 2,399.00</span>
                        </p>

                    </div>

                    <div class="add-to-cart-alt">
                        <a href="#" class="btn btn-primary ">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="table-cell">
                <a href=""  title="Remove Item" >
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
    </div>
</div>

