.owl-carousel .owl-nav.disabled{
    display: block !important;
}

.container, .ad{
    max-width: 1300px;

}


a{
    color: $gray-dark ;
    padding:0px ;
    &:hover{
        color: $primary-color ;
        text-decoration: none;
     
    }
}


.pre, .nex{

    border: 2px solid $primary-color;
    border-radius: 50%;
    padding: 0px 8px;
    color: $primary-color;
}




ul{
    list-style-type:none;
    padding:0px;
}
.nav-pills .nav-link{
    background-color: white !important;
}

.active .products-title {
    color: $primary-color;
   
    &::after{
    
        background-color: $primary-color;
        content: ' ';
        height: 2px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;

    }

    
}