{% include 'dash-top.njk' %}

<a href="index.html"><h1>Go Back</h1></a>
{% include 'header.njk' %}
{% include 'header2.njk' %}
{% include 'breadcrumb.njk' %}
{% include 'productspage.njk' %}
{% include 'description.njk' %}

{% include 'footer.njk' %}
{% include 'dash-bottom.njk' %}