{% include 'dash-top.njk' %}
{% include 'ad.njk' %}
{% include 'products.njk' %}
{% include 'products2.njk' %}
{% include 'products3.njk' %}
{% include 'products4.njk' %}
{% include 'products5.njk' %}



{# <img src="images/banner.jpg"> #}

{# <div class="nav">

<div class="nav-list">
    <div class="categories nav-list-item">
        <ul>
            <li><a href="Shop by Category">Shop by Category</a>
                <div>
                 <ul>
                    <li><a href="">men</a></li>
                </ul> 
                </div>
                
            </li>
        </ul>
    </div>
    <div class="nav-list-item">Feature your business</div>
    <div class="nav-list-item">About Sastodeal</div>
    <div class="nav-list-item">Our Delivery Locations</div>
    <div class="nav-list-item">Contact Us</div>
    <div class="nav-list-item">SD Stories</div>
    </div>
 </div> #}


{% include 'dash-bottom.njk' %}

