{% include 'dash-top.njk' %}

<div class="nav">

<div class="nav-list">
    <div class="categories nav-list-item">Shop by Category</div>
    <div class="nav-list-item">Feature your business</div>
    <div class="nav-list-item">About Sastodeal</div>
    <div class="nav-list-item">Our Delivery Locations</div>
    <div class="nav-list-item">Contact Us</div>
    <div class="nav-list-item">SD Stories</div>
    </div>
 </div>


{% include 'dash-bottom.njk' %}

