
{% include 'dash-top.njk' %}

    {% include 'header.njk'%}
    {% include 'header2.njk'%}
    {% include 'slider.njk'%}
    {% include 'ad.njk' %}
    {% include 'homedesign.njk'%} 
    {% include 'productSlider.njk' %}
     {% include 'productSlider.njk' %}
    {% include 'homedesign.njk'%} 
    

  

    {% include 'footer.njk'%} 

{% include 'dash-bottom.njk'%}

